<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWbYupRTscB0T1L7cWTDdktQw_-eczXPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>841348500405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aydinkaya.ReteAmica</string>
	<key>PROJECT_ID</key>
	<string>retaamica</string>
	<key>STORAGE_BUCKET</key>
	<string>retaamica.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:841348500405:ios:88f123ee4a2a9e9f9767fc</string>
</dict>
</plist>
